section{
    /* background-color: yellow; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}

@media screen and (max-width:480px) {
    section{
        flex-direction: column;
        height: fit-content;
    }
}