header{
    padding: 30px;
    height: 10vh;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
}

main{
    float: right;
    /* background-color: aqua; */
    height: 90vh;
    width: 100vw;
    position: relative;
}

