header{
    padding: 30px;
    height: 10vh;
    /* background-color: blue; */
    display: flex;
    justify-content: flex-end;

}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    color:aqua
}

div{
    /* border-radius: 50%; */
    position: absolute;
    left: 50px;
    top: 25px;
    font-size: 30px;
    font-weight: 900;
    color: rgb(0, 0, 0);
}

div:hover{
    /* color: white; */
    cursor: pointer;
}

main{
    float: right;
    /* background-color: aqua; */
    height: 90vh;
    width: 100vw;
    position: relative;
}

@media screen and (max-width:480px) {
    main{
        overflow-x: scroll;
    }
    div{
        font-size: 25px;
        top: 30px;
        left:5px;
    }
}

