.box{
    height: 80vh;
    width: 300px;
    padding-top: 20px;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(0, 18, 66);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.box:hover{
    box-shadow: 0 0 8px 5px rgb(227, 234, 255);
    transform: scale(1.01);
    cursor: pointer;
}

.picture{
    width: 90%;
    height: 45%;
    /* background-color: aqua; */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.discription{
    width: 90%;
    padding-top: 10px;
    height: 45%;
    color: white;
    /* background-color: aqua; */
    text-align:center;
}

.title{
    padding-top: 10px;
    color:aqua;
    text-decoration: underline;
}