#img{
    background-image: url(../../assets/img.png);
    height: 90vh;
    background-repeat: no-repeat;
    /* background-color: yellow; */
    width: 100vw;
    background-size: contain;
    background-position: right bottom;
    position: relative;
}



#tube{
    position: absolute;
    height: 250px;
    width: 250px;
    bottom: 300px;
    right: 350px;
    background-image: url(../../assets/float.png);
    background-repeat: no-repeat;
    /* background-color: yellow; */
    background-size: contain;
    background-position: center;
    animation: floatAnimation 5s infinite ease-in-out;
}


@keyframes floatAnimation {
0% {
    transform: translateY(0);
}
50% {
    transform: translateY(-20px);
}
100% {
    transform: translateY(0);
}
}

section{
    position: absolute;
    /* background-color: yellow; */
    /* border: 1px solid black; */
    top: 180px;
    left: 100px;
    height: 50vh;
    width: 60vw;
}

section > div:first-child{
    color: white;
    font-size: 20px;
    padding: 10px;
}

section > div > span {
    font-size: 20px;
}

section > div:nth-child(2){
    color: rgb(0, 0, 0);
    font-size: 80px;
    font-weight: 900;
    padding: 10px;
}

#myname{
    font-family: 'Inter', sans-serif;
    font-family: 'Philosopher', sans-serif;
    font-size: 50px;
}

@media (min-width: 1400px) {
    #img{
        background-image: url(../../assets/img2.png);
    }
    #tube{
        display:none;
    }
}

@media screen and (max-width: 480px) {
    section{
        /* background-color: yellow; */
        position: absolute;
        top: 50px;
        left:10px;
        height: 10vh;
        width: 100vw;
    }
    section > div:first-child{
        color: white;
        font-size: 30px;
        padding: 10px;
    }
    
    section > div > span {
        font-size: 20px;
    }
    
    section > div:nth-child(2){
        color: rgb(0, 0, 0);
        font-size: 50px;
        font-weight: 900;
        padding: 10px;
    }
    #tube{
        right: 200px;
        bottom: 200px;
        width: 20vw;
    }
}